.divBody{
    margin-left: 30%; /* Отступ слева */
    margin-top: 8%;
    width: 40%; /* Ширина слоя */
    padding: 10px;
    text-align: center;
}

body{
    background: #ffffff;
    background-size: 100%;
}

h1{
    font-size: 200%;
    margin-bottom: 20px;
    margin-top: 0;
}

.button{
    background: brown;
    width: 70px;
    padding: 7px;
    padding-top: 0px;
    margin-left: 36%;
    margin-top: 15px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 50%;
    margin: 0;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 15px;
}


h4{
    margin: 0;
    font-weight: 600;
}

img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

p{
    font-size: 50%;
    margin-bottom: 0px;
    margin-top: 10px;
}